$menuWidth: 420px;

aside {
  width: $menuWidth;
}

main {
  top: 0;
  position: relative;
  width: calc(100% - #{$menuWidth});
  height: 100vh;
  overflow: scroll;
}

.sauron-framer {
  width: 100%;
  height: 100vh;
}

#overlay {
  top: 0;
  opacity: 0.1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: aqua;
}